*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* background-color: black; */
}

.btn{
  width: 9vw;
  height: 7vh;
  background-color: rgb(48, 57, 92);
  border-radius: 5px;
  cursor: pointer;
  color:white;
  border: 1px solid transparent;
  margin: 4px;
}
.btn:hover{
  background-color: rgb(41, 48, 78);
}
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:2px solid white; */
  width:35vw;
  height:9vh;
}
.CodeMirror{
  height: 50vh !important;
}
.CodeMirror-gutters{
  background: #1d1e22 !important;
}
.CodeMirror-scroll{
  background: #1d1e22 ;
}
.container{
  background-color: black;
  display: flex;
  /* border: 2px solid white; */
}

.main{
  height: 30vh !important;
  color: white !important;
}
.main iframe{
  background-color: rgb(195, 201, 228);
  border: none;
  color:white;
}